.searchpage__notfound {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchpage__notfound img {
  width: 150px;
  height: 150px;
}

.searchpage_noresultfound {
  margin-top: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  letter-spacing: -0.03em;
}

.searchpage__tryagain {
  margin-top: 0.5rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.24px;
  color: #9a9fbf;
}

.searchpage__gobackbutton {
  width: 100%;
  height: 50px;
  background: #0184fb;
  border-radius: 12px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-top: 1rem;
  cursor: pointer;
}
