.gigs_details_cnt {
    margin-top: 4.2rem;
}

.gigs_details_cnt-residency {
    background: rgba(155, 81, 224, 0.1);
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gigs_details_cnt-residency p {
    color: #9B51E0;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
}

.gigs_details_cnt-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 71px;
    background-color: #E6F3FF;
}

.gigs_details_cnt-title p {
    font-size: 16px;
    font-weight: 700;
    color: #0184FB;
    letter-spacing:  -.03em;
}

.gigs_details_cnt-overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 16px;
}

.gigs_details_cnt-overview p {
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -.03em;
}