.bottomnav__cnt {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  border-top: 0.944073px solid rgba(154, 159, 191, 0.15);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 90px;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5rem;
  max-width: 428px;
  margin: 0 auto;
  border-left: 7px solid #9A9FBF25;
  border-right: 7px solid #9A9FBF25;
  border-bottom: 7px solid #9A9FBF25;
}

.bottomnav__cnt-item {
  display: grid;
  align-items: center;
}

.bottomnav__cnt-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bottomnav__cnt-item button {
    font-family: inherit;
}


@media screen and (max-width: 500px) {
  .bottomnav__cnt {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    border-top: 0.944073px solid rgba(154, 159, 191, 0.15);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 90px;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
    max-width: 100%;
    border: none;
  }
}







